<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <settings>
      
      <!-- Enabled: true/false to determine if publish logging is enabled -->
      <setting name="SitecoreSpark.SPRK.Enabled" value="true" />
      
      <!-- LogFolder: path where publish logs should be written -->
      <setting name="SitecoreSpark.SPRK.LogFolder" value="$(dataFolder)/logs/" />
      
      <!-- LogPrefix: filename prefix for log files; all log files are appended with a dateformat (yyyyMMdd) -->
      <setting name="SitecoreSpark.SPRK.LogPrefix" value="SPRK.log" />

      <!-- MaxLogBufferSize: maximum number of lines in each log buffer; larger values require more memory -->
      <setting name="SitecoreSpark.SPRK.MaxLogBufferSize" value="1000" />      
      
      <!-- SourceDatabase: name of the source database for content (probably "master") -->
      <setting name="SitecoreSpark.SPRK.SourceDatabase" value="master" />
      
      <!-- TargetDatabase: name of the target database for content (9 out of 10 spiders recommend you use "web") -->
      <setting name="SitecoreSpark.SPRK.TargetDatabase" value="web" />
      
    </settings>
  </sitecore>

</configuration>