<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>

    <pipelines>
      <publishItem>
        <processor type="SitecoreSpark.SPRK.Publishing.Pipelines.PublishItem.PublishLoggerProcessor, SitecoreSpark.SPRK" patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.UpdateStatistics, Sitecore.Kernel']" resolve="true" />
      </publishItem>
      <publish>
        <processor type="SitecoreSpark.SPRK.Publishing.Pipelines.Publish.PublishLoggerStartProcessor, SitecoreSpark.SPRK" patch:before="processor[@type='Sitecore.Publishing.Pipelines.Publish.OverridePublishContext, Sitecore.Kernel']" resolve="true" />
        <processor type="SitecoreSpark.SPRK.Publishing.Pipelines.Publish.PublishLoggerEndProcessor, SitecoreSpark.SPRK" patch:after="processor[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']" resolve="true" />
      </publish>
    </pipelines>

    <services>
      <!--
        SparkConfigurator
        Adds SPRK-specific wire-up to the Sitecore IOC container.
      -->
      <configurator type="SitecoreSpark.SPRK.SparkConfigurator, SitecoreSpark.SPRK" />
    </services>

  </sitecore>

</configuration>