@{
    Layout = "~/Views/SPRK/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<h2>Select a Log</h2>


<table>
    <thead>
        <tr>
            <th>Log Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var filename in ViewBag.Filenames)
        {
            <tr>
                <td>@filename</td>
                <td>
                    <a href="javascript://">View</a>
                    <a href="javascript://">Raw</a>
                </td>
            </tr>
        }
    </tbody>
</table>

