@{
    Layout = "~/Views/SPRK/Shared/_Layout.cshtml";
    ViewBag.Title = "Reports";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
</div>

<div class="container content">

    <ul class="report-list">
        <li>
            <h3><a href="/sitecore/sprk/Report/PublishLogs" class=""><i class="fa fa-database" aria-hidden="true"></i> Publish Logs</a></h3>
            <p>Detailed logs of all items published in Sitecore.</p>
        </li>
        <li>
            <h3><a href="/sitecore/sprk/Report/IncrementalPublishQueue" class=""><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Incremental Publish Queue</a></h3>
            <p>List of all items to be published during the next Incremental Publish.</p>
        </li>
    </ul>

</div>