@{
    Layout = "~/Views/SPRK/Shared/_Layout.cshtml";
    ViewBag.Title = "Publishing Logs";
}

<table>
    <thead>
        <tr>
            <th>Log Date</th>
            <th>Size</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in ViewBag.LogItems)
        {
            <tr>
                <td>@log.Date.ToString("yyyy-MM-dd")</td>
                <td>@log.FileSizeKB KB</td>
                <td>
                    <a href="/sitecore/sprk/view?log=@log.FileName" class="btn">View Log</a>
                    <a href="/sitecore/sprk/raw?log=@log.FileName" class="btn">Raw</a>
                </td>
            </tr>
        }
    </tbody>
</table>