@{
    Layout = "~/Views/SPRK/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>View Log</h2>

<select>
    <option value=""></option>
</select>

<h2>Search Logs</h2>

Field:
<select>
    <option value="">All</option>
    <option value="">Username</option>
    <option value="">ItemID</option>
</select>

<input type="text" />