@{
    Layout = "~/Views/SPRK/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<h2>Select a Log</h2>


<table>
    <thead>
        <tr>
            <th>Log Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in ViewBag.LogItems)
        {
            <tr>
                <td>@log.Date.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="javascript://">View Log</a>
                    <a href="javascript://">Raw</a>
                </td>
            </tr>
        }
    </tbody>
</table>

