<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>

				<configuration name="SPRK.Core" description="Launchpad configuration for SPRK.">
					<predicate>

						<include name="SPRK.Core.Launchpad" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/SPRK Publish Reports" />

					</predicate>

					<dataProviderConfiguration enableTransparentSync="false" />

					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
