a, a:visited { text-decoration: none; }
body { background-color: #F1F1F1; font-family: 'Arial', sans-serif; padding: 1em 0;}
h1 { font-weight: bold; font-size: 1.25em; margin: 0 0 1em 0; padding-bottom: 0.25em; text-align: right; border-bottom: 1px solid #979797; }
h2 { font-weight: bold; font-size: 1.75em; }
h3 { font-weight: bold; font-size: 1.5em; }
.center { text-align: center; }

.container { width: 95%; margin: 0 auto; }
.content { padding: 0.5em; background-color: #FFF; }

.menu { margin: 0 0.25em 1em 0.25em; }

table { width: 100%; }
table td, table th { text-align: center; padding: 0.5em 0.25em; }
table th { background-color: #606060; color: #FFF; text-shadow: 1px 1px 0 #000; }
table tbody tr:nth-child(odd) { background-color: #d5d5d5; }
table tbody tr:nth-child(even) { background-color: #e8e8e8; }

#LogDataTable thead th { cursor: pointer; }

.btn { padding: 0.25em 0.5em; font-size: 0.85em; font-weight: bold; display: inline-block; border: none; border-radius: 4px; background-color: #dc291e; color: #FFF; text-shadow: 1px 1px 0 #000; cursor: pointer; box-shadow: 0 1px 0 #960101; font-weight: bold; color: #FFF; transition: none; }
.btn:active { position: relative; bottom: -1px; box-shadow: none; }
.btn.primary, input[type="submit"].primary { padding: 1em 2em; font-size: 1.1em; text-transform: uppercase; }
.btn.primary:hover { background: none; background-color: #a51911; }
.btn.default { background-color: #7e7e7e; color: #FFF; box-shadow: 0 3px 0 #414141; }
.btn.default:active { box-shadow: none; }

.message { padding: 1em; margin: 1em 0; font-weight: bold; color: #FFF; text-shadow: 2px 2px 0 #000; border-radius: 4px; }
.message.success { background-color: #328028; }
.message.warning { background-color: #b45e02; }
.message.info { background-color: #111C24; }
.message.error { background-color: #871313; }

.report-list { padding-inline-start: 0; margin: 0 3em; }
.report-list li { list-style-type: none; margin: 0; margin-bottom: 1em; }
.report-list li:last-of-type { margin: 0; }
.report-list li a { color: #000; background-color: #ebebeb; display: block; padding: 2em; border-radius: 8px; box-shadow: 0 2px 0 #c4c4c4; }
.report-list li a:hover { background-color: #cbcbcb; box-shadow: 0 3px 0 #828282; }
.report-list li a:active { box-shadow: none; position: relative; bottom: -2px; }
.report-list li h3 { margin: 0; }
.report-list li p:last-of-type { margin-bottom: 0; }

.mono { font-family: monospace; }

@media (min-width: 40em)
{
    .container { max-width: 75%; }
    .content { padding: 1em; border-radius: 8px; }

    .btn { font-size: 1em; box-shadow: 0 3px 0 #960101; }
    .btn:active { bottom: -3px; }
}