<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" rel="stylesheet" href="~/Content/sprk.css" />
        
        <title>@ViewBag.Title - Sitecore Publish Reporting Kit</title>
    </head>
    <body>
        
        <div class="container">
            <a href="/sitecore/sprk" class="btn default">Publish Logs</a>
        </div>

        <div class="container">
            <h1>@ViewBag.Title</h1>
        </div>

        @if (TempData["Error"] != null)
        {
            <div class="container">
                <div class="message error">@TempData["Error"]</div>
            </div>
        }

        <div class="container content">
            @RenderBody()
        </div>

        <script src="~/Scripts/sprk.tablesort.min.js"></script>
        <script>
            new Tablesort(document.getElementById('LogDataTable'));
        </script>
    </body>
</html>