<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" rel="stylesheet" href="~/Content/sprk.css" />
        
        <title>@ViewBag.Title - Sitecore Publish Reporting Kit</title>
    </head>
    <body>
        
        <div class="container">
            <a href="/sitecore/shell/sitecore/client/Applications/Launchpad" class="btn default">Return to Launchpad</a>
        </div>

        <div class="container">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="container content">
            @RenderBody()
        </div>
    </body>
</html>